$color-light-background: #fff;
$color-dark-background: #111;
$color-light-text: #333;
$color-dark-text: #fff;
$color-navbar-light-background: #f0f0f0;
$color-navbar-dark-background: #222;
$color-content-card-light-background: #eee;
$color-content-card-dark-background: #333;
$color-button-light-background: #4caf50;
$color-button-dark-background: #4caf50;
$color-button-hover-light-background: #45a049;
$color-button-hover-dark-background: #45a049;
