@import "colors"; 

.light-theme {
    background-color: $color-light-background;
    color: $color-light-text; 

    .navbar {
        background-color: $color-navbar-light-background;
        a {
            color: $color-light-text; 
        }
    }

    .theme-toggle-button {
        background-color: $color-light-text;
        color: $color-dark-background;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($color-light-text, 20%); 
        }
    }

    .content-card {
        background-color: $color-content-card-light-background;
    }

    .team-member {
        background-color: lighten($color-light-background, 2%); 
        color: $color-light-text;
    }

    .blog-post {
        background-color: lighten($color-content-card-light-background, 5%); 
        color: $color-light-text;

        button {
            background-color: $color-button-light-background;
            color: $color-dark-background;

            &:hover {
                background-color: $color-button-hover-light-background;
            }
        }
    }

    .section:nth-child(even) {
        background-color: lighten($color-light-background, 2%);
    }

    .navbar {
        background-color: $color-navbar-light-background;
    }

    .contact-form {
        background-color: lighten($color-light-background, 4%);
        color: $color-light-text;
        border: 1px solid darken($color-light-background, 10%); 
    }

    .contact {
        input[type="text"],
        input[type="email"],
        textarea {
            background-color: $color-light-background;
            color: $color-light-text;
            border: 1px solid darken($color-light-background, 10%);
        }

        button {
            background-color: $color-button-light-background;
            color: $color-dark-background;

            &:hover {
                background-color: $color-button-hover-light-background;
            }
        }
    }
}
